[submodule "allude_reddit"]
	path = allude_reddit
	url = git@github.com:mauzybwy/allude-reddit.git
	branch = main
[submodule "allude_subtitles"]
	path = allude_subtitles
	url = git@github.com:mauzybwy/allude-subtitles.git
	branch = main
[submodule "allude_screenshot"]
	path = allude_screenshot
	url = git@github.com:mauzybwy/allude-screenshot.git
	branch = main
